---
import { Image } from 'astro:assets';
import placeholderReuben from '../assets/placeholder.jpeg';

const { restaurant, item, sides, stars, imageThumbnail, website, price } =
  Astro.props;

const priceFormatter = new Intl.NumberFormat('en-US', {
  style: 'currency',
  currency: 'USD',
  minimumFractionDigits: 2,
});
---

<div class="w-full rounded-2xl">
  <!-- Image Thumbnail -->
  <Image
    class="w-full rounded-t-2xl"
    src={imageThumbnail || placeholderReuben}
    alt={restaurant
      ? `Reuben sandwich at ${restaurant}`
      : 'Placeholder image of reuben sandwich'}
  />
  <!-- Rating -->
  <div class="bg-cabbage px-10 py-8 text-4xl">
    {'🥪'.repeat(stars)}{'✖'.repeat(5 - stars)}
  </div>
  <!-- Card Details -->
  <div class="rounded-b-2xl bg-white px-10 py-8">
    <div class="flex flex-col gap-4">
      <h2><a href={website} target="_blank">{restaurant} ↗</a></h2>
      <div class="flex justify-between gap-5">
        <div class="flex flex-1 flex-col gap-1">
          <h3>{item}</h3>
          <div class="text-base">w/ {sides}</div>
        </div>
        <div class="text-base font-medium md:text-xl">
          {priceFormatter.format(price)}
        </div>
      </div>
    </div>
    <hr />
    <div>
      <slot />
    </div>
  </div>
</div>
